@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;600&display=swap");

/* @font-face {
    font-family: "Outfit";
    src: local("Outfit"),
      url(~static/Outfit-VariableFont_wght.ttf) format("truetype");
      
  }
@font-face {
    font-family: "Outfit";
    src: local("Outfit"),
      url(~static/Outfit-Medium.ttf) format("truetype");
  }
@font-face {
    font-family: "Outfit";
    src: local("Outfit"),
      url(~static/Outfit-Light.ttf) format("truetype");
  }
@font-face {
    font-family: "Outfit";
    src: local("Outfit"),
      url(~static/Outfit-Regular.ttf) format("truetype");
  }
@font-face {
    font-family: "Outfit";
    src: local("Outfit"),
    url(~static/Outfit-SemiBold.ttf) format("truetype");
  } */

/* html {
    font-family: 'Outfit', sans-serif;
  } */

body {
  background: #f4f7ff;
}

* {
  font-family: "Outfit", sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  background-color: #aaa;
}
::-webkit-scrollbar-thumb {
  background-color: #231f1e;
  border-radius: 10px;
}

.v-toast__item .v-toast__text {
  padding: 0.3em 1em !important;
}

.v-toast__text {
  margin: 0;
  padding: 0.3em 1em;
  word-break: break-word;
}
.v-toast__item {
  opacity: 1;
  min-height: 2.6em !important;
}

.v-toast__item .v-toast__icon {
  display: block;
  width: 18px !important;
  min-width: 18px !important;
  height: 18px !important;
  margin-left: 1em;
}
.p-tabview-selected{
  color:#15cf74
}

.p-tabview-title{
  color: #15cf74;
}

.p-tabview-nav-content{
  border-bottom: 1px solid #15cf74;
}
.p-fileupload, .p-button{
  width: 100%;
  height: 3rem;
}

.p-tabview-panels{
  padding-inline: 0;
}

.p-progressbar-value{
  background: #15cf74;
}

.p-progressbar .p-component .p-progressbar-indeterminate{
  height: 8px;
}