@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f4f7ff;
}

* {
  font-family: "Outfit", sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  background-color: #aaa;
}
::-webkit-scrollbar-thumb {
  background-color: #231f1e;
  border-radius: 10px;
}

.v-toast__item .v-toast__text {
  padding: 0.3em 1em !important;
}

.v-toast__text {
  margin: 0;
  padding: 0.3em 1em;
  word-break: break-word;
}
.v-toast__item {
  opacity: 1;
  min-height: 2.6em !important;
}

.v-toast__item .v-toast__icon {
  display: block;
  width: 18px !important;
  min-width: 18px !important;
  height: 18px !important;
  margin-left: 1em;
}
.p-tabview-selected{
  color:#15cf74
}

.p-tabview-title{
  color: #15cf74;
}

.p-tabview-nav-content{
  border-bottom: 1px solid #15cf74;
}
.p-fileupload, .p-button{
  width: 100%;
  height: 3rem;
}

.p-tabview-panels{
  padding-inline: 0;
}

.p-progressbar-value{
  background: #15cf74;
}

.p-progressbar .p-component .p-progressbar-indeterminate{
  height: 8px;
}

.mapboxgl-default-map-size {
  position: relative !important;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-ctrl-attrib-inner a{
  display: none;
}

.mapboxgl-ctrl-logo {
  display: none;
}

a.mapboxgl-ctrl-logo {
  background-image: url('/assets/img/63f1a1d0c16726823353ef45_Logist.svg');
  background-repeat: no-repeat;
  cursor: pointer;
  display: none !important;
  height: 23px;
  margin: 0 0 -4px -4px;
  overflow: hidden;
  width: 88px;
}

.mapboxgl-popup-content {
  background: #1e1e1e !important;
  border-radius: 12px;
  color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  padding: 10px !important;
  pointer-events: auto;
  position: relative;
}

.mapboxgl-popup-close-button {
  background-color: transparent;
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  width: 1rem;
  position: absolute;
  right: 2px !important;
  top: -2px !important;
}

.mapboxgl-marker {
  left: 0;
  /* background: #1e1e1e !important; */
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity .2s;
  will-change: transform;
}

.mapboxgl-marker svg{
  fill: #1e1e1e !important;
}